@{
    ViewBag.Title = "Index";
}
Updated

		<div class="page-content">
					<div class="page-header position-relative">
						<h1>
							Dashboard
							<small>
								<i class="icon-double-angle-right"></i>
								PCO &amp; Management
							</small>
						</h1>
					</div><!--/.page-header-->

					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->

															
										
								<p>
									<a href="/Admin/createtimetable" class="btn btn-app radius-4">
										<i class="icon-cog bigger-230"></i>
										TimeTable
										
									</a>

									<a href="/Teacher/Teachers" class="btn btn-app btn-primary no-radius">
										<i class="icon-edit bigger-230"></i>
										Teacher
										<span class="badge badge-warning badge-right">11</span>
									</a>

									<a href="/Admin/AddMakeup" class="btn btn-app btn-success">
										<i class="icon-refresh bigger-230"></i>
										Add Makeup
									</a>


									

									
								</p>								

							<!--PAGE CONTENT ENDS-->
						</div><!--/.span-->
					</div><!--/.row-fluid-->
				</div><!--/.page-content-->

